#source {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 40%;
    height: 90%;
}

#target {
    position: absolute;
    top: 5%;
    left: 55%;
    width: 40%;
    height: 90%;
}

#compile {
    position: absolute;
    top: 45%;
    left: 46%;
    width: 8%;
    height: 10%;
}